{% extends 'base.html' %}
{% block content %}

<div class="active_matches">
{% for match in matches %}
    {% with mc=forloop.counter %}
    <div class="match_{{ mc }} container">
    {% for battlecat in match.get_battlecats %}
        <div class="match_{{ mc }} {% cycle 'top' 'bottom' as tb %} bc_name">{{ battlecat.name }}</div>
        <div class="match_{{ mc }} {{ tb }} bc_image"><img alt="IMG" class="bc_image" src="{{ battlecat.image }}"></div>
        <div class="match_{{ mc }} {{ tb }} bc_record">
            {{ battlecat.wins }} - {{ battlecat.losses }}
        </div>
        <div class="match_{{ mc }} {{ tb }} bc_stat strength label">STRENGTH</div>
        <div class="match_{{ mc }} {{ tb }} bc_stat strength value">{{ battlecat.strength }}</div>
        <div class="match_{{ mc }} {{ tb }} bc_stat defense value">{{ battlecat.defense }}</div>
        <div class="match_{{ mc }} {{ tb }} bc_stat defense label">DEFENSE</div>
        <div class="match_{{ mc }} {{ tb }} bc_stat agility label">AGILITY</div>
        <div class="match_{{ mc }} {{ tb }} bc_stat agility value">{{ battlecat.agility }}</div>
        <div class="match_{{ mc }} {{ tb }} bc_stat cunning value">{{ battlecat.cunning }}</div>
        <div class="match_{{ mc }} {{ tb }} bc_stat cunning label">CUNNING</div>
        <div class="match_{{ mc }} {{ tb }} bc_breed">{{  battlecat.breed.name }}</div>
        {% for trait in battlecat.traits.all %}
            <div class="match_{{ mc }} {{ tb }} bc_trait trait_{{ forloop.counter }}">{{ trait.name }}</div>
        {%  endfor %}
        <div class="match_{{ mc }} {{ tb }} bet">
            <select name="match_{{ mc }} bet_value">
                <option value = "10" selected>$100</option>
                <option value = "20">$200</option>
                <option value = "30">$300</option>
                <option value = "40">$400</option>
                <option value = "50">$500</option>
                <option value = "60">$600</option>
                <option value = "70">$700</option>
                <option value = "80">$800</option>
                <option value = "90">$900</option>
                <option value = "100">$1000</option>
            </select>
            <input type="submit" class="bet" name="action" value="Bet">
        </div>
        <div class="match_{{ mc }} {{ tb }} record">

        </div>
    {% endfor %}
        <div class="match_{{ mc }} match_divide">
            VS
        </div>
    </div>
    {% endwith %}
{% endfor %}
</div>
{% endblock %}
