{% extends 'base.html' %}
{% block content %}

<div class="active_matches">
{% for match in matches %}
    <div class="match_{{ forloop.counter }} container">
    {% for battlecat in match.get_battlecats %}
        <div class="match_{{ forloop.parentloop.counter }} bc_name {% cycle 'top' 'bottom' %}">{{ battlecat.name }}</div>
        <div class="match_{{ forloop.parentloop.counter }} bc_image {% cycle 'top' 'bottom' %}"><img class="bc_image" src="{{ battlecat.image }}"></div>
        <div class="match_{{ forloop.parentloop.counter }} bc_stat {% cycle 'top' 'bottom' %} strength label">STRENGTH</div>
        <div class="match_{{ forloop.parentloop.counter }} bc_stat {% cycle 'top' 'bottom' %} strength value">{{ battlecat.strength }}</div>
        <div class="match_{{ forloop.parentloop.counter }} bc_stat {% cycle 'top' 'bottom' %} defense value">{{ battlecat.defense }}</div>
        <div class="match_{{ forloop.parentloop.counter }} bc_stat {% cycle 'top' 'bottom' %} defense label">DEFENSE</div>
        <div class="match_{{ forloop.parentloop.counter }} bc_stat {% cycle 'top' 'bottom' %} agility label">AGILITY</div>
        <div class="match_{{ forloop.parentloop.counter }} bc_stat {% cycle 'top' 'bottom' %} agility value">{{ battlecat.agility }}</div>
        <div class="match_{{ forloop.parentloop.counter }} bc_stat {% cycle 'top' 'bottom' %} cunning value">{{ battlecat.cunning }}</div>
        <div class="match_{{ forloop.parentloop.counter }} bc_stat {% cycle 'top' 'bottom' %} cunning label">CUNNING</div>
        <div class="match_{{ forloop.parentloop.counter }} bet value {% cycle 'top' 'bottom' %}">
            <select name="match_{{ forloop.parentloop.counter }} bet_value">
                <option value = "10" selected>$100</option>
                <option value = "20">$200</option>
                <option value = "30">$300</option>
                <option value = "40">$400</option>
                <option value = "50">$500</option>
                <option value = "60">$600</option>
                <option value = "70">$700</option>
                <option value = "80">$800</option>
                <option value = "90">$900</option>
                <option value = "100">$1000</option>
            </select>
        </div>
        <div class="match_{{ forloop.parentloop.counter }} bet button {% cycle 'top' 'bottom' %}">
            <input type="submit" class="bet" name="action" value="Bet">
        </div>
        <div class="match_{{ forloop.parentloop.counter }} record {% cycle 'top' 'bottom' %}">
            {{ battlecat.wins }} - {{ battlecat.losses }}
        </div>
    {% endfor %}
        <div class="match_{{ forloop.counter }} match_divide">
            VS
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
