{% extends 'base.html' %}
{% block content %}

<table class="zirecat_box">

{% for zirecat in zirecats %}
{% cycle '<tr>' '' %}
    <td class="zirecat_in_box {% cycle 'left' 'right' %}">
        <table class="zirecat_profile">
            <tr><td class="zc_name" colspan="4">{{ zirecat.name }}</td></tr>
            <tr><td class="zc_image" colspan="4"><img class="zc_image" src="{{ zirecat.image }}"></td></tr>
            <tr>
                <th class="zc_stat left">STRENGTH</th><td class="zc_stat left">{{ zirecat.strength }}</td>
                <td class="zc_stat right">{{ zirecat.defense }}</td><th class="zc_stat right">DEFENSE</th>
            </tr>
            <tr>
                <th class="zc_stat left">AGILITY</th><td class="zc_stat left">{{ zirecat.agility }}</td>
                <td class="zc_stat right">{{ zirecat.cunning }}</td><th class="zc_stat right">CUNNING</th>
            </tr>
            <tr>
                <td class="zc_bet"><input type="submit" class="zc_bet" name="action" value="Bet 10"></td>
                <td class="zc_bet"><input type="submit" class="zc_bet" name="action" value="Bet 50"></td>
                <td class="zc_bet"><input type="submit" class="zc_bet" name="action" value="Bet 100"></td>
                <td class="zc_bet"><input type="submit" class="zc_bet" name="action" value="Bet 500"></td>
            </tr>
        </table>
    </td>
    {% cycle '<td class="zirecat_in_box divider"><img class="vs" src="https://static.comicvine.com/uploads/original/11121/111217478/4783117-2827295216-45210.png"></td>' '' %}
{% cycle '' '</tr>' %}
{% endfor %}

</table>
{% endblock %}